.body-carosello{
    
    
}





.slide img {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	object-position: center;
}

.slide.active {
	display: block;
}

.slide {
	display: none;
}

.carosello {
	position: relative;
}
 .carosello__arrow {
	position: absolute;
	font-size: 70px;
	color: rgb(20, 7, 7);
	top: 50%;
	transform: translateY(-50%);
}
 .carosello__arrow.arrow-left {
	left: 200px;
}

 .carosello__arrow.arrow-right {
	right: 200px;
}